/*GERAIS*/
body{
    background-color: #000;
}
header{
    padding: 0px;
    background: linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 80.37%
    );
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}
header .logoViniflix{
    width: 250px;;
}
.btn-cust-white{
    background-color: #fff;
}
.btn-cust-white:hover{
    opacity: 0.8;;
}
.btn-cust-translucent{
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.btn-cust-translucent:hover{
    color: #fff;
    opacity: 0.8;
}
.btn-custom-round{
    padding: 5px 9px !important;
}

.opacity-50{
    opacity: 0.7;
}
.btn + .btn{
    margin-left: 5px;
}
/*LOGIN*/
.bg_filmes{
    background-image: url(../assets/images/BR-pt-20220207-popsignuptwoweeks-perspective_alpha_website_medium\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#caixa_login{
    margin-top: 110px;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
}
#facebook-logo{
    width: 25px;
}
#input_email ,#password{
    background-color: rgba(56, 56, 56, 0.7);
    border: none;
}
#input_email:not(:placeholder-shown) ,#password:not(:placeholder-shown){
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}
#input_email:focus:placeholder-shown ,#password:focus:placeholder-shown{
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}

/* HOME */

/* MENU */
.menu_list_logo{
    
}
.menu_list_logout{
    text-align: center;
    color: #fff;
    text-decoration: none;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.menu_list_logout:hover{
    color: dimgrey;
    transition: 0.1s ease-in;
    cursor: pointer;
    
}
.menu_list{
    list-style: none;
    padding-left: 0;
    padding-top: 27px;
}

.menu_list li{
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a{
    color: #fff;
    text-decoration: none;
}

.menu_list li a:hover{
    color: dimgrey;
    transition: 0.1s ease-in;
    
}


/* HERO */

#hero{
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
}

#hero::after{
    content: '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    left: 0;
    z-index: 2;
    top: calc(700px - 350px);

}

#hero_infos{
    padding: 0;
    margin-top: 140px;
    z-index: 3;
    position: relative;
}

.main_content{
    margin-top: 720px;
}
/* FILMES */
.filme_lista{
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    overflow: auto;
    border: 1px solid transparent;
}

.filme_lista::-webkit-scrollbar{
    display: none;    
}

.filme{
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    border: 1px solid transparent;
    overflow-y: hidden;
}

.filme:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
    transition: 0.5s
}

.filme:hover .filme_info{
    transform: scale(1);
}

.filme:first-child{
    margin-left: 100px;
}

.filme_info{
    background-color: #171717;
    padding: 10px;
    padding-bottom: 50px;
    height: 100px;
    width: 100%;
    transform: scale(0);
}

.filme_info .col-12{
    margin-top: 5px;
}

.filme_info .col-12:first-child{
    margin-bottom: 10px;
    padding-left: 0;
}
.col-12 a:hover{
    opacity: 1;
}

.filme_info p{
    font-weight: 800;
    color: #05FF00;
}

.filme_info p text{
    color: #fff;
}

section{
    margin-bottom: -100px;
    position: relative;
}

section:hover{
    z-index: 9;
}

/* MODAL */
.modal-dialog, .modal-content{
    background: #171717;
}
.modal-dialog{
    max-width: 800px;
}
.modal-hero{
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 5px;
}

.modal-hero img{
    width: 250px;
    margin-bottom: 30px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.modal-hero::after{
    content: '';
    width: 100%;
    height: 168px;
    display: block;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 100%);
    position: absolute;
    left: 0;
    margin-top: -155px;
    z-index: 1;
}
.modal-hero-infos{
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
}

.modal-hero-infos button{
    margin-right: 20px;
}
.filme_relevancia{
    color: #05FF00;
    font-weight: 600;
}
.filme_relevancia text{
    color: #fff;
    font-weight: 100;
}
#colecao{
    color: #fff;
    margin-left: 2px;
    font-weight: 600;
    font-size: 20px;
}
#semelhantes{
    color: #fff;
    margin-left: 2px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}
.col_filmes_semelhantes{
    padding: 15px;
}
.colecaofilmes .col-15{
    width: 350px !important;
}
.colecaofilmes img{
    padding-left: 20px;
}
.quad{
    height: 125px;
    width: 235px;
    background-image: url(../assets/images/Filmes/AAAABSLhPGVDhGpOCtmFE97WlkhU9kufU_uuZuxoFNutHV7PtMRfTp5jhFic997cx05Hr5y1vDSOjjVz9H5oRuhbkDH9YbU.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 10px 10px 0px 0px;
}
.quad_infos{
    width: 235px;
    background-color: #2E2E2E;
    color: #fff;
    padding-top: 25px;
    padding: 6px;
    font-size: 14px;
    border-radius: 0px 0px 10px 10px;
}
.quad_infos .row{
    padding-top: 25px;
    margin: 0 auto;
}
.quad_infos .col{
    padding-top: 5px;
    padding: 5px;
}

.quad_infos .btn-custom-plus{
    padding: 5px 9px !important;
}
